# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

node_modules

# Build Artifacts
/frontend/dist
/frontend/bower_components
*sublime*

logs/*/*.log
backups/*.bak
media/*

# Database stuff
data/*

# Editor config stuff
.idea/*
